.subjects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.subject-card {
    border: 1px solid #ddd;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 250px;
    height: 520px;
    display: flexbox;
    justify-content: center;
    align-items: center;
    line-height: 40px;
}

.subject-title {
    font-size: larger;
}

.faculty-image {
    width: 250px;
}
.attendance-button {
    padding: 10px 15px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 10px;
}
.progress-bar {
    width: 100%;
    background-color: #f0f0f0;
    border-radius: 10px;
    margin-bottom: 1px;
}

.progress-bar-fill {
    height: 100%;
    border-radius: 10px;
    background-color: #4caf50;
    transition: width 0.3s ease;
}